@import url('https://fonts.googleapis.com/css?family=Barrio');

.login-container {
  position: absolute;
  width: 40%;
  z-index: 1;
  top: 100px;
  left: 30%;
  text-align: left;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  font-family: 'Barrio', cursive;

  h1 {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 50px;
  }
}

form {
  padding-top: -200px;
  padding-bottom: 50px;


label {
    color: white;
  }

  .error {
    float: right;
    color: red;
    font-weight: bold;
  }

  input {
    background: rgba(255,255,255,0.5);
  }

  .btn {
    background: white;
    float: left;
  }

.login-error-container {
 float: right;
 height: auto;
 margin-right: 20px;
  .error {
    font-size: 25px;
    color: red;
  }
}

}
