@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 50px;
  background: rgba(0,0,0,0.7);
  width: 100%;

  .logo {
    font-family: 'Sigmar One', cursive;
    color: white;
    font-size: 25px;
    float: left;
    margin: 12.5px 10px;

    @media (max-width: 768px) {
      font-size: 22px;
      margin: 14px 5px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
      margin: 16px 5px;
    }
  }

  .nav-util-container {
    float: right;
    color: white;
    font-family: 'Sigmar One', cursive;
    .login {
       float: right;
       font-size: 20px;
       margin: 15px 10px;
       border-left: 2px solid white;
       margin-left: 0;
       @media (max-width: 768px) {
         display: none;
       }
     }
     .register {
       float: right;
       font-size: 20px;
       margin: 15px 10px;
       border-right: 2px solid white;
       margin-right: 0;
       @media (max-width: 768px) {
         display: none;
       }
     }
     .back {
       float: right;
       font-size: 25px;
       margin: 12.5px 10px;
       cursor: pointer;
       @media (max-width: 600px) {
         font-size: 18px;
         margin: 16px 5px;
       }
    }
    .user {
      float: right;
      font-size: 20px;
      margin: 15px 10px;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .logout {
      float: right;
      font-size: 20px;
      margin: 15px 10px;
      cursor: pointer;
      color: darkgrey;
      font-weight: bold;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .glyphicon-log-in {
      font-size: 35px;
      margin: 7.5px 5px;
      @media (min-width: 769px) {
        display: none;

      }
    }
    .glyphicon-log-out {
        font-size: 35px;
        margin: 7.5px 5px;
        @media (min-width: 769px) {
          display: none;

      }
    }
  }
  .drop-down-menu {
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  width: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  list-style-type: none;
  padding: 0;
  li {
    font-size: 30px;
    border-bottom: 1px solid black;
    color: white;
    cursor: pointer;
    font-family: 'Sigmar One', cursive;
  }
  @media (min-width: 769px) {
    display: none;
  }
}

}
